body {
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 1440px;
    margin: auto;
}
.header .leftLinks {
    display: flex;
    width: auto;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 140px;
}
.header .leftLinks img {
    max-width: 100%;
    max-height: 100%;
}
.header .leftLinks .name {
    margin: auto;
    color: #FF5A5F;
    font-size: 25px;
    font-weight: 1000;
    font-family:Arial, Helvetica, sans-serif;
}

.header .searchBar {
    display: flex;
    height: 30px;
    border: 1px solid gray;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    gap: 130px;
    padding: 5px 10px 5px 20px;
    border-radius: 30px;
}
.header .searchBar div {
    font-size: 13px;
    margin: auto;
}

.header .rightLinks {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;   
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #000000;
}
.hero img {
    width: 1440px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
.hero .slogan {
    position: absolute;
    top: 80%;
    left: 46.5%;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
}


.destinations .header {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 96px;
    margin-bottom: 48px;
    color: #202329;
}
.destinations .container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
}
.destinations .container img {
    width: 312px;
}







.footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 600px;
}
.footer .copyright {
    
    color: white;
    flex: 1;
    text-align: center;
    margin: auto;
}